<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
  <appender name="R" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/logs/criteria.log" />
    <param name="Threshold" value="DEBUG" />
    <param name="DatePattern" value=".yyyy-MM-dd" />
    <param name="Append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss} %-30.30c %-5p - %m%n" />
    </layout>
  </appender>
  <appender name="async" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="500" />
    <appender-ref ref="R" />
  </appender>
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="async" />
  </root>
</log4j:configuration>